<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="static/parameter_table_style.css" type="text/css" media="screen">
		<title>MoonEx Parameter Database</title>		
	</head>	
	<body>
		<img src="static/me-logo.png" alt="MoonEx" width=64 height=64>
		<a class='h1' href="/">[ Parameters ]  </a>
		<a class='h1' href="/scenarios">[ Scenarios ]</a>
		<hr>
		{% block content %}
		{% endblock %}
	</body>
</html>
